{% extends 'base.html' %}
{% block title%} TMS - HOME PAGE {% endblock %}
 {% block body %}


<div class="ao-tour-home-slider">
    <slick-carousel class="ao-tour-home-slider__carousel slick-initialized slick-slider" _nghost-c2="">
        <button type="button" class="slick-prev icon-ao-tour-angle-left slick-arrow" style=""></button>
                <div aria-live="polite" class="slick-list draggable">
            <div class="track" style="opacity: 1;" role="listbox">
              {% for packs in packs[0:8] %}
              {% set fname = 'packimages/' + packs.PackageImage %}
                <a href="https://www.getout.pk/trips/swat/" class="ao-tour-home-slider__item slick-slide slick-cloned" style="width: 270px;" tabindex="-1" role="option" aria-describedby="slick-slide383" data-slick-index="-5" aria-hidden="true">
                    <div class="ao-tour-home-slider__item-inner" style="background-image: url({{ url_for('static', filename=fname) }});">
                        <div class="ao-tour-home-slider__price">Starting From: <span>11,000</span></div>
                        <div class="ao-tour-home-slider__title">Swat</div>
                    </div>
                </a>
                {% endfor%}
            </div>
        </div>
        <button type="button" class="slick-next icon-ao-tour-angle-right slick-arrow" style=""></button>
    </slick-carousel>
</div>

<!-- slider end -->

    <!--- rupes ---->
    <div class="container">
    	<div class="rupes">
    		<div class="col-md-4 rupes-left wow fadeInDown animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
    			<div class="rup-left">
    				<a href="offers.html"><i class="fa fa-usd"></i></a>
    			</div>
    			<div class="rup-rgt">
    				<h3>UP TO USD. 50 OFF</h3>
    				<h4><a href="offers.html">TRAVEL SMART</a></h4>

    			</div>
    				<div class="clearfix"></div>
    		</div>
    		<div class="col-md-4 rupes-left wow fadeInDown animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
    			<div class="rup-left">
    				<a href="offers.html"><i class="fa fa-h-square"></i></a>
    			</div>
    			<div class="rup-rgt">
    				<h3>UP TO 70% OFF</h3>
    				<h4><a href="offers.html">ON HOTELS ACROSS WORLD</a></h4>

    			</div>
    				<div class="clearfix"></div>
    		</div>
    		<div class="col-md-4 rupes-left wow fadeInDown animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
    			<div class="rup-left">
    				<a href="offers.html"><i class="fa fa-mobile"></i></a>
    			</div>
    			<div class="rup-rgt">
    				<h3>FLAT USD. 50 OFF</h3>
    				<h4><a href="offers.html">US APP OFFER</a></h4>

    			</div>
    				<div class="clearfix"></div>
    		</div>

    	</div>
    </div>

    <!--- /rupes ---->
<div class="container-fluid">
  <div class="holiday">
    <div class="ao-tour-special-heading-2 text-center">
      <h1>LATEST TRIPS</h1>
        </div>
        <div class="rom-btm">
          <div class="tp-hd-rgt wow fadeInRight animated" data-wow-delay=".5s">
            <div class="container-fluid">
            <div class="ao-tour-home__featured-blog">
            <ao-tour-blog-featured>
              <div class="row ao-tour-home__featured-event-row">
                   {% for packs in packs[0:8] %}
                      {% set fname = 'packimages/' + packs.PackageImage %}
                        <div class="col-md-3 col-sm-5 ao-tour-home__featured-event-col">
                        <ao-tour-event-card-brief>
                        <section class="ao-tour-event-grid">
                          <div class="ao-tour-event-grid__primary">
                <div class="ao-tour-sale-tag">latest</div>
         <a class="ao-tour-event-grid__figure-link" style="background-image: url({{ url_for('static', filename=fname) }});" title="{{packs.PackageName}}" href="https://www.getout.pk/trip/hunza-tour-packages/">
           <img src="{{ url_for('static', filename=fname) }}" alt="{{packs.PackageName}}r">
           <h1 class="ao-tour-event-grid__title">{{packs.PackageName}}</h1> </a>
            <div class="ao-tour-event-grid__secondary">
            <div class="ao-tour-event-grid__vendor">UOB TOUR</div>
            <div class="ao-tour-event-grid__secondary-top">
              <div class="ao-tour-event-grid__price"> Rs. {{packs.PackagePrice}} <small class="ao-tour-event-grid__price-cutout"></small> </div>

                </div>
                 <div class="ao-tour-event-grid__secondary-bottom">
                 <div class="ao-tour-event-grid__date"> <i class="icon-ao-tour-calendar icon-ao-tour"></i> May 6, 2022 </div>
                <div class="ao-tour-event-grid__duration"> <i class="icon-ao-tour-watch icon-ao-tour"></i> 5 Days, 4 Nights </div>
                 </div>
               </div> <a class="ao-tour-event-grid__action" href="trip_id={{packs.Packageid}}">Tour Details</a> </section>
                 </ao-tour-event-card-brief>
                 </div>
{% endfor%}

                                                       </div>
                                                   </ao-tour-blog-featured>
                                               </div>
                                           </div>



                                        </div>
                                					<div class="clearfix"></div>
                                			</div>

                                <div><a href="package-list.php" class="view">View More Packages</a></div>
                                </div>
                                			<div class="clearfix"></div>
                                	</div>











<!--- routes ---->
<div class="routes">
	<div class="container">
		<div class="col-md-4 routes-left wow fadeInRight animated" data-wow-delay=".5s">
			<div class="rou-left">
				<a href="#"><i class="glyphicon glyphicon-list-alt"></i></a>
			</div>
			<div class="rou-rgt wow fadeInDown animated" data-wow-delay=".5s">
				<h3>80000</h3>
				<p>Enquiries</p>
			</div>
				<div class="clearfix"></div>
		</div>
		<div class="col-md-4 routes-left">
			<div class="rou-left">
				<a href="#"><i class="fa fa-user"></i></a>
			</div>
			<div class="rou-rgt">
				<h3>1900</h3>
				<p>Regestered users</p>
			</div>
				<div class="clearfix"></div>
		</div>
		<div class="col-md-4 routes-left wow fadeInRight animated" data-wow-delay=".5s">
			<div class="rou-left">
				<a href="#"><i class="fa fa-ticket"></i></a>
			</div>
			<div class="rou-rgt">
				<h3>7,00,00,000+</h3>
				<p>Booking</p>
			</div>
				<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

{% endblock %}
