{%extends "user/base.html"%}
{% block title%} ADD TOUR - ADMIN PANEL{% endblock %}
   {% block body %}




                        <!-- Start Content-->
                        <div class="container-fluid">

                            <!-- start page title -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="page-title-box">
                                        <div class="page-title-right">
                                            <ol class="breadcrumb m-0">
                                                <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                                <li class="breadcrumb-item active">Edit Contact</li>
                                            </ol>
                                        </div>
                                        <h4 class="page-title">Edit Contact</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- end page title -->


                              <div class="row">
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">Horizontal form</h4>
                                        <p class="text-muted font-14">Create horizontal forms with the grid by adding the <code>.row</code> class to form groups and using the <code>.col-*-*</code> classes to specify the width of your labels and controls. Be sure to add <code>.col-form-label</code> to your <code>&lt;label&gt;</code>s as well so they’re vertically centered with their associated form controls.</p>

                                        <ul class="nav nav-tabs nav-bordered mb-3">
                                            <li class="nav-item">
                                                <a href="#horizontal-form-preview" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">
                                                    Preview
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#horizontal-form-code" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
                                                    Code
                                                </a>
                                            </li>
                                        </ul> <!-- end nav-->
                                        <div class="tab-content">
                                            <div class="tab-pane show active" id="horizontal-form-preview">
                                                <form class="form-horizontal">
                                                    <div class="row mb-3">
                                                        <label for="inputEmail3" class="col-3 col-form-label">Email</label>
                                                        <div class="col-9">
                                                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label for="inputPassword3" class="col-3 col-form-label">Password</label>
                                                        <div class="col-9">
                                                            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label for="inputPassword5" class="col-3 col-form-label">Re Password</label>
                                                        <div class="col-9">
                                                            <input type="password" class="form-control" id="inputPassword5" placeholder="Retype Password">
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3 justify-content-end">
                                                        <div class="col-9">
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" id="checkmeout">
                                                                <label class="form-check-label" for="checkmeout">Check me out !</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="justify-content-end row">
                                                        <div class="col-9">
                                                            <button type="submit" class="btn btn-info">Sign in</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div> <!-- end preview-->

                                            <div class="tab-pane" id="horizontal-form-code">
                                                <pre class="mb-0">
                                                    <span class="html escape">
                                                        &lt;form class=&quot;form-horizontal&quot;&gt;
                                                            &lt;div class=&quot;row mb-3&quot;&gt;
                                                                &lt;label for=&quot;inputEmail3&quot; class=&quot;col-3 col-form-label&quot;&gt;Email&lt;/label&gt;
                                                                &lt;div class=&quot;col-9&quot;&gt;
                                                                    &lt;input type=&quot;email&quot; class=&quot;form-control&quot; id=&quot;inputEmail3&quot; placeholder=&quot;Email&quot;&gt;
                                                                &lt;/div&gt;
                                                            &lt;/div&gt;
                                                            &lt;div class=&quot;row mb-3&quot;&gt;
                                                                &lt;label for=&quot;inputPassword3&quot; class=&quot;col-3 col-form-label&quot;&gt;Password&lt;/label&gt;
                                                                &lt;div class=&quot;col-9&quot;&gt;
                                                                    &lt;input type=&quot;password&quot; class=&quot;form-control&quot; id=&quot;inputPassword3&quot; placeholder=&quot;Password&quot;&gt;
                                                                &lt;/div&gt;
                                                            &lt;/div&gt;
                                                            &lt;div class=&quot;row mb-3&quot;&gt;
                                                                &lt;label for=&quot;inputPassword5&quot; class=&quot;col-3 col-form-label&quot;&gt;Re Password&lt;/label&gt;
                                                                &lt;div class=&quot;col-9&quot;&gt;
                                                                    &lt;input type=&quot;password&quot; class=&quot;form-control&quot; id=&quot;inputPassword5&quot; placeholder=&quot;Retype Password&quot;&gt;
                                                                &lt;/div&gt;
                                                            &lt;/div&gt;
                                                            &lt;div class=&quot;row mb-3 justify-content-end&quot;&gt;
                                                                &lt;div class=&quot;col-9&quot;&gt;
                                                                    &lt;div class=&quot;form-check&quot;&gt;
                                                                        &lt;input type=&quot;checkbox&quot; class=&quot;form-check-input&quot; id=&quot;checkmeout&quot;&gt;
                                                                        &lt;label class=&quot;form-check-label&quot; for=&quot;checkmeout&quot;&gt;Check me out !&lt;/label&gt;
                                                                    &lt;/div&gt;
                                                                &lt;/div&gt;
                                                            &lt;/div&gt;
                                                            &lt;div class=&quot;justify-content-end row&quot;&gt;
                                                                &lt;div class=&quot;col-9&quot;&gt;
                                                                    &lt;button type=&quot;submit&quot; class=&quot;btn btn-info&quot;&gt;Sign in&lt;/button&gt;
                                                                &lt;/div&gt;
                                                            &lt;/div&gt;
                                                        &lt;/form&gt;
                                                    </span>
                                                </pre> <!-- end highlight-->
                                            </div> <!-- end preview code-->
                                        </div> <!-- end tab-content-->
                                    </div>  <!-- end card-body -->
                                </div>  <!-- end card -->
                            </div>  <!-- end col -->

                        </div>
                        <!-- end row -->


                            <!-- end tab-content-->

                                            </div>
                                        </li>


{% endblock %}
