{%extends "admin/base.html"%}
{% block title%} CHAT WITH US - USER DASHBOARD {% endblock %}
   {% block body %}



                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Tables</a></li>
                                            <li class="breadcrumb-item active">Data Tables</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">Data Tables</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->


                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">Basic Data Table</h4>
                                        <p class="text-muted font-14">
                                            DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction
                                            function:
                                            <code>$().DataTable();</code>. KeyTable provides Excel like cell navigation on any table. Events (focus, blur, action etc) can be assigned to individual
                                            cells, columns, rows or all cells.
                                        </p>





                                    <div class="tab-content">
                                            <div class="tab-pane show active" id="basic-datatable-preview">
                                                <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                                                    <thead>
                                                        <tr>
                                                            <th hidden>S#</th>
                                                            <th>NAME</th>
                                                            <th>MOBILE</th>
                                                            <th>EMAIL</th>
                                                            <th>MESSAGE</th>
            <th>TIME</th>
                                                            <th>STATUS</th>
                                                            </tr>
                                                    </thead>


                                                    <tbody>
                                                      {% for r in r%}
                                                      {% if r.Chat.sender>1 %}
                                                      {% if r.Chat.status==2 %}
                                                        <tr>
                                                          <td hidden>{{loop.index}}</td>
                                                            <td>{{r.User.fullname}}</td>
                                                              <td>{{r.User.mobile}}</td>
                                                                <td>{{r.User.email}}</td>
                                                            <td>{{r.Chat.message}}</td>
                                                            <td>{{r.Chat.time}}</td>
                                                            <td>
                                                              <form method="post">
                                                              <input type="hidden" name="cht" id="cht" value="{{r.Chat.id}}">
                                                              <input type="hidden" name="read" id="read" value="1">
                                                              <input type="hidden" name="usr" value="{{r.Chat.uid}}">
                                                              <input type="submit" class="btn btn-primary" name="" value="READ MESSAGE">
                                                              </form>
                                                            </td>
                                                            {%endif%}

{%endif%}
                                                        </tr>{% endfor%}

                                                    </tbody>
                                                </table>
                                            </div> <!-- end preview-->
                                        </div> <!-- end tab-content-->

                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div><!-- end col-->
                        </div>
                        <!-- end row-->

                    </div> <!-- container -->

                </div> <!-- content -->


                {% endblock %}
