{%extends "user/base.html"%}
{% block title%}HOME - USER DASHBOARD - TMS {% endblock %}
   {% block body %}


                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">

                                    </div>
                                    <h4 class="page-title">Dashboard</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                              <div class="row">

                                  <div id='loading'>loading...</div>

                                  <div id='calendar'></div>

                        </div>
                        <!-- end row-->

                    </div> <!-- container -->

                </div> <!-- content -->
                {% endblock %}
